p:first-of-type{
  color: #7E8184;
  font-style: italic;
  
}
.synopsis em{
  font-style: normal;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: red;
}
a:visited:hover {
  color: orange;
}
a:visited:active {
  color: red;
}
.button:link, .button:visited {
  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}
.button:hover, .button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}
.button:active, .button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}
.call-to-action:link, .call-to-action:visited {
  font-style: italic;
  background-color: #EEB75A;    /* Yellow */
}

#button-2 {
  color: #5D6063;
}
.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #F5CF8E;     /* Light yellow */
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #EEB75A;     /* Yellow */
}
p:last-of-type {
  margin-bottom: 50px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}
li{
  color: white;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a {
  color: #EEB75A;
}
li a:hover {
  background-color: #111;
}
